body{
 background-image: url(https://images.pexels.com/photos/1484759/pexels-photo-1484759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.scoreboard {
    display: none;
}

.container2 {
    display: none;
}

.container3 {
    display: none;
}   

.img {
    max-width: 40%;
    margin: 0, auto;
}